@import "../App";


div.apod-div {
    h1 {
        width: 100%;
        text-align: center;
    }

    div.image-description-div {
        display: flex;
        flex-direction: row;
        align-content: stretch;
        @media only screen and (min-width: $widthDektopMin) {
            flex-direction: column;
            align-items: stretch;
        }
        // @media $tablet, @mobile {
        //     flex-direction: column;
        //     align-items: stretch;
        // }
        div.image-div { 
            flex-basis: auto;
            margin: 10px auto;
            @media only screen and (min-width: $widthDektopMin) {
                padding: 10px;
            }
            // @media $desktop {
            //     padding: 10px;
            // }
            img.apod-image {
                width: 100%;
                height: auto;
                max-width: 760px;
                box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.75);
            }
        }
        div.description-div {
            line-height: 28px;
            flex-basis: 50%;
            @media only screen and (min-width: $widthDektopMin) {
                h3 {
                    margin-top: 0;
                }
            }
            padding: 10px;
            @media only screen and (min-width: $widthTabletMin) and (max-width: $widthTabletMax) {
                width: 95%;
            }
            @media only screen and (max-width: $widthMobileMax) {
                width: 100%;
            }
            p {
                text-indent: 25px;
                text-align: justify;
            }
            p.copyright {
                font-size: 12px;
                text-indent: 0;
                letter-spacing: 2px;
            }
        }        
    }
}
