@import "../App.less";



div.apod-div {
    h1 {
        width: 100%;
        text-align: center;
    }

    div.image-description-div {
        display: flex;
        flex-direction: row;
        align-content: stretch;
        @media @tablet, @mobile {
            flex-direction: column;
            align-items: stretch;
        }
        div.image-div { 
            flex-basis: auto;
            margin: 10px auto;
            @media @desktop {
                padding: 10px;
            }
            img.apod-image {
                width: 100%;
                height: auto;
                max-width: 760px;
                .boxShadow(1px 1px 6px 0 rgba(0, 0, 0, 0.75));
            }
        }
        div.description-div {
            line-height: 28px;
            flex-basis: 50%;
            @media @desktop {
                h3 {
                    margin-top: 0;
                }
            }
            padding: 10px;
            @media @tablet {
                width: 95%;
            }
            @media @mobile {
                width: 100%;
            }
            p {
                text-indent: 25px;
                text-align: justify;
            }
            p.copyright {
                font-size: 12px;
                text-indent: 0;
                letter-spacing: 2px;
            }
        }        
    }
}
