@import "../App";


div.card.citypanel {
    background: url("/images/bg.jpg");
    background-color: $accentDarkColor;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: $textMainColorLight;
    z-index: 0;
    div.bg-div {
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: $accentDarkColor;
    }
    div.airly {
        padding: 0 10px;
        p {
            &:first-child {
                padding: 10px 0;
            }
            padding: 0; 
            span {
                padding: 5px 15px;
                display: inline-block;
                border: none;
                border-radius: 3px;
                font-weight: 700;
        }
        }
        p > a img {
            max-width: 60px;
            height: auto;
        }
    }
    div.current-city {        
        display: grid;
        grid-template-rows: auto;
        @media only screen and (min-width: $widthDektopMin) {
            grid-template-columns: auto auto auto;
            grid-template-areas: 
            "icon summary summary"
            "icon details1 details2";
        }
        @media only screen and (min-width: $widthTabletMin) and (max-width: $widthTabletMax) {
            grid-template-columns: auto auto;
            grid-template-areas: 
            "icon summary"
            "icon details1"
            "icon details2";
        }
        @media only screen and (max-width: $widthMobileMax) {
            grid-template-columns: auto;
            grid-template-areas: 
            "icon"
            "summary"
            "details1"
            "details2";
        }
    
        div.city-info {
            grid-area: icon;
            padding: 10px;        
            justify-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            svg.weather-icon {
                width: 8em;
                height: 8em;
                text-align: center;
            }
            p.city-name {
                font-size: 32px;
                font-weight: bold;
                margin: 0;
            }
            p.current-date {
                font-size: 20px;
            }
        }
        
    
        h3.summary {
            grid-area: summary;
            font-size: 18px;
            font-weight: bold;
            justify-self: start;
            @media only screen and (max-width: $widthMobileMax) {
                justify-self: center;
            }
        }
        div.city-weather {
            @media only screen and (max-width: $widthMobileMax) {
                padding: 0 4%;
            }
            p {
                padding: 0 5px;
            }
            p.temperature {
                padding: 10px 0;
                span.tempInd {
                    font-size: 36px;
                    font-weight: bold;
                    padding: 10px;
                    margin: 20px 5px 20px 0;
                }
                &.night {
                    span.tempInd {
                        background-color: darken($accentDarkColor, 20%);
                        color: $textMainColorLight;
                        opacity: 0.8;
                        border: none;
                        border-radius: 2px;
                    }
                }
            }
            &.details1 {
                grid-area: details1;
            }
            &.details2 {
                grid-area: details2;
            }
            svg.moon-left {
                margin-left: 10px;
                
            }
        }
    }
    div.nextDays {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border-block-start: 1px $textMainColorLight solid;
        div.day {
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            // cursor: pointer;
            font-weight: bold;
            p.weekday-name {
                font-size: 20px;
                margin: 5px;    
            }
            svg.weekday-icon {
                width: 5em;
                height: 5em;
                color: $textMainColor;
            }
            p.weekday-date {
                font-size: 12px;
            }
            p.weekday-temp {
                margin: 5px;
                font-size: 18px;
                padding: 0;
            }
        }
    }
}
