@import '../App.less';


div .othercities {
    div.cities-panel {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        color: @textMainColor;
        span {
            color: @accentGray;
        }
        button {
            margin: 5px 5px 5px 0;
            border: none;
            font-family: 'Noto Sans', sans-serif;
            font-size: 16px;
            background-color: transparent;
            padding: 10px 10px 10px 0;
            outline: none;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
            
        }
    }
}
